body {
  font-family:Verdana, sans-serif;
  margin:0;
  font-size: 14px;
  position: relative;
}

@media (max-width: 500px){
body:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background:url(../img/IMG_2591.jpg) center no-repeat;
  background-size:cover;
}
}

  body {
    background: #FFF url(../img/IMG_2580.JPG) no-repeat center center fixed;  
    background: #FFF url(../img/IMG_2580.JPG) no-repeat center center/cover fixed;  
    -webkit-text-size-adjust: none;
  }

#gray {
  background:#A8C6D7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top:0;
  left:0;
  transition:2s;
  opacity:1; /* デバッグ用 */
}

#gray.none {
  display:none;
}

#enter_wrap.block {
  display: block;
}

#enter_wrap {
  display: none;
}

#enter1 {
  padding-top: 70px;
}

#enter2 {
  padding-top: 70px;
}

#enter_color {
  /* background-color: black; */
  position: absolute;
  z-index: 2;
  top: 300px;
  width: 400px;
  height: 400px;
  left: 50%;
  transform: translatex(-50%);
  opacity:0.5;
  border-radius: 20px;
}

#enter1 span {
  position: absolute;
  z-index:2;
  top: 500px;
  /* top: 700px; */
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  /* border-left: 1px solid #fff;
  border-bottom: 1px solid #fff; */
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

#enter2 span {
  position: absolute;
  z-index:2;
  top: 520px;
  /* top: 700px; */
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  /* border-left: 1px solid #fff;
  border-bottom: 1px solid #fff; */
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

#enter_wrap > a > p {
  top: 450px;
  position: absolute;
  z-index: 2;
  display: block;
  left: 50%;
  font-size: 24px;
  transform: translateX(-50%);
  color: white;
  -webkit-animation: moji 1.5s infinite;
  animation: moji 1.5s infinite;
}

@media (min-width: 700px){
  #enter1 span {
  top: 700px;
  }

  #enter2 span {
  top: 720px;
  }

  #enter_wrap > a > p {
    top: 650px;
  }

  #enter_color {
    top: 450px;
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 912px){
  #enter1 span {
    display: none;
  }

  #enter2 span {
    display: none;
  }

  #enter_wrap > a > p {
    display: none;
  }

  
  #enter_color {
    display: none;
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@-webkit-keyframes moji {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moji {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.box {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#dezone_wrap {
  position: absolute;
  top : -130px;
  left: 50%;
  transform: translate(-50%);
}

#top_text {
  font-family:'-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
  font-size: 18px;
  color: #111111;
  padding: 0 20px;
  line-height: 20px;
  text-align: center;
  width:100%;
  position: absolute;
  z-index: 3;
  top:calc(20vh - 10px);
  left:0;
  transition: 2s;
  opacity: 0; /*テスト*/
}

@media (min-width: 912px){
  #top_text {
    font-size: 30px; 
  }
  }

#top_text > h1 {
  margin:0;
}

#top_text > .typ1 {
  position: absolute;
  top:5vh;
  width: 55%;
  margin:0;
  left:50%;
  transform: translate(-50%);
  z-index: 2;
}

@media (min-width: 912px){
  #top_text > .typ1 {
    width:100%;
  }
}

#top_text > .typ2 {
  position: absolute;
  top:10vh;
  width: 55%;
  margin:0;
  left:50%;
  transform: translate(-50%);
  z-index: 2;
}

@media (min-width: 912px){
  #top_text > .typ2 {
    width:100%;
  }
}

#top_text.showUp {
  top:20vh;
  opacity: 1;
  padding:0;
}

#line {
  border-bottom: 3px solid #125E8C;
  width: 5%;
  position: absolute;
  z-index: 3;
  top:calc(20vh + 40px);
  left:calc(50vw);
  transition: .5s;
  opacity:0
}

#line.long {
  width:100%;
  left:0;
  opacity:1;
  transition:2s;
}

#line.none {
  opacity:0;
}


.container {
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  padding:20px 0 20px; /* スペース穴埋め分 */
  text-align: center;
}

@media (min-width: 912px){
  .container {
    padding:0;
    opacity: 0.9;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto 0;
  }
}

.article > h1 {
  font-size: 30px;
  width:80%;
  margin: 10px auto 10px;
  color: #125E8C;
}

.container > p {
  font-size: 24px;
}

#work_box {
  opacity: 0;
  transition: 1s;
  margin-top: 200px;
  position: relative;
}

@media (min-width: 912px){
#work_box {
  opacity:1;
  margin-top:0;
  margin-bottom: 0;
  /* height: 80vh; */
  height: 450px;
  position: relative;
}
}

#work_box.showUp {
  opacity: 1;
  margin-top:0;
}

#work_circle {
  border: 1px dotted #4C4E47;
  border-radius: 20px;
  border-top: none;
  width: 90%;
  height: 330px;
  position: absolute;
  top:20px;
  left:50%;
  transform: translateX(-50%); 
}

@media (min-width: 912px){
  #work_circle {
    height: 420px;
  }
}

#skill_circle {
  border: 1px dotted #4C4E47;
  border-radius: 20px;
  border-top: none;
  width: 90%;
  height: 520px;
  position: absolute;
  top: 20px;
  left:50%;
  transform: translateX(-50%); 
}

@media (min-width: 700px){
  #skill_circle {
    height: 300px;
  }
}

#skill_box {
  opacity: 0;
  transition: 1s;
  margin-top: 200px;
  position: relative;
}

#skill_box.showUp {
  opacity: 1;
  margin-top:0;
}

@media (min-width: 912px){
  #skill_box {
    opacity: 1;
    transition: 0s;
    margin-top: 0px;
  }
}

#about {
  margin: 50px auto 0;
}


#about_circle {
  border: 1px dotted #4C4E47;
  border-radius: 20px;
  border-top: none;
  width: 90%;
  height: 370px;
  position: absolute;
  top: 20px;
  left:50%;
  transform: translateX(-50%); 
}

@media (min-width: 912px){
  #about_circle {
    height: 320px;
  }
}

#about_box {
  opacity: 0;
  transition: 1s;
  margin-top: 200px;
  position: relative;
}

#about_box.showUp {
  opacity: 1;
  margin-top:0;
}

@media (min-width: 912px){
  #about_box {
    opacity: 1;
    margin-top:0px;
    transition: 0s;
  }
}

#contact {
  margin: 50px auto 0;
}

#contact_circle {
  border: 1px dotted #4C4E47;
  border-radius: 20px;
  border-top: none;
  width: 90%;
  height: 470px;
  position: absolute;
  top: 20px;
  left:50%;
  transform: translateX(-50%); 
}

#contact_box {
  opacity: 0;
  transition: 1s;
  margin-top: 200px;
  position: relative;
}

#contact_box.showUp {
  opacity: 1;
  margin-top:0;
}

@media (min-width: 912px){
  #contact_box {
    opacity: 1;
    transition: 0s;
    margin-top: 0;
  }

  #contact > .dashed {
    width: 250px;
    margin: 0 auto 0;
  }
}

#white {
  background-color: #FFF;
  opacity: 0.9;
  height: 2400px;
}

@media (min-width: 500px){
  #white {
  height: 2500px;
  }
}

@media (min-width: 912px){
#white {
  width: 80%;
  opacity: 0.9;
  margin: 0 auto 0;
  padding:0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
  height: 2300px;
}
}

.container .article {
  margin: 50px auto 0;
  width: 84%;
}

@media (min-width: 912px){
.container .article {
  margin: 50px auto 0;
  width: 90%;
  text-align: center;
}
}

.under {
  border-bottom: solid 1px;
  margin: 0 auto 0;
  font-size: 18px;
  font-weight: bolder ;
}

.dashed {
  margin: 10px auto 10px;
  padding: 10px;
  text-align: left;
  width: 250px;
}

/* @media (min-width: 912px){
  .dashed {
    margin-left:50px;
  }
} */

@media (min-width: 912px){
  #work > .dashed {
    margin: 0 auto 0;
  }
}

@media (min-width: 912px){
  #work > .dashed {
    margin: 0 auto 0;
  }
}

@media (min-width: 912px){
  #skill > .dashed {
    margin-left:120px;
  }
}

@media (min-width: 912px){
  #about > .dashed {
    margin: 0 auto 0;
  }
}
.icon {
  margin-top: 20px;
}

#hama {
  text-align: center;
  margin: 0 auto 0;
  width: 80vw;
  height: 150px;
  /* height: calc(80vw * 0.4); */
}

#hama_img {
  width: 80vw;
  height: 150px;
  /* height: calc(80vw * 0.4); */
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 912px){
  #hama {
    width: 60vw;
  }

  #hama_img {
    width: 80%;
    /* height: calc(80% * 0.6); */
    height: 250px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
  }
}

#work > p:first-of-type {
  width: 100%;
  font-size: 17px;  
}

@media (min-width: 912px){
#work > p:first-of-type {
  width: 50%;
  font-size: 17px;  
}
}

 #skill {
   margin: 100px auto 20px;
 }

 @media (min-width: 700px){
 #skill {
   margin: 50px auto 0px;
 }
 /* @media (min-width: 912px){
 #skill {
   margin: 0px auto 0px;
 } */

 #skill_flex {
   display: flex;
     justify-content: space-between;  
 }
}

#skill_box1 > p:first-of-type {
  width: 85%;
}
#skill_box2 > p:first-of-type {
  width: 70%;
}

@media (min-width: 912px){
#skill_box1 {
  margin-top: 20px;
  width: 50%;
}
#skill_box2 {
  margin-top: 20px;
  width: 50%;
}

#skill_box1 > p:first-of-type {
  width: 80%;
}
 #skill_box2 > p:first-of-type {
   width: 80%;
 }
}
 /* #skill > p:first-of-type {
   width: 40%;
 }
 #skill > p:nth-of-type(3) {
   width: 40%;
 } */

 #my_pic {
   width: 110px;
   height: 180px;
   /* width: 30%; */
 }

 @media (min-width: 912px){
   #my_pic {
     height: 150px;
     width: 120px;
     object-fit: cover; 
   }
  }

#open_menu {
  float: right;
  text-align: right;
  font-size: 24px;
  cursor: pointer;
  margin-right:30px;
  margin-top:10px;
  display:block;
}

#menu_block > p {
  font-weight: bolder;
  color: #111111;
  padding-top: 10px;  
  font-size: 24px;
  content:"DEZONE";
  float: left;
  margin:0;
  margin-left:50%;
  transform: translateX(-50%); 
}

@media (min-width: 912px){
#menu_wrap > p {
padding-bottom: 50px;
}
}

#menu_block.fixed {
  background-color: white;
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto 0;
  position: fixed;
  z-index:3;
}

@media (min-width: 912px) {
  #menu_block.fixed {
  height: 100px;
  left: 0;
  text-align: center;
  width: 80%;
  left:50%;
  transform: translateX(-50%);
  }
}

#prog {
  width: 100vw;
  height: calc(100vw * 3.33 / 5);
}

@media (min-width: 912px){
  #prog {
    width: 30vw;
    height: 20vw;
  }
  #prog_wrap {
    text-align: center;
  }
}

#example {
  width: 80%;
  height: 400px;
  border: none;
  margin: 0 auto 0;
}


#desk {
  width: 100vw;
  height: calc(100vw * 3.33 / 5);
}

@media (min-width: 912px){
  #open_menu {
    display:none;
  }
}

#menu_wrap {
  height: 70px;
  width: 100%;
  margin: 0 auto 0;
  position: relative;
}


@media (min-width: 912px){
#menu_wrap {
  height: 150px;
  width: 80%;
}
}

#open_content {
  list-style: none;
  padding:0;
  display:flex;
  flex-direction: column;
  width: 100%;
  float:left;
  height: calc(100vw * 3.33 / 5);
  line-height: 1em;
  display: none;
  position: absolute;
  top: 40px;
}

@media (min-width: 912px){
  #open_content {
    padding: 10px;
    width: 90%;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);

  }
}

#menu li {
  text-align: center;
  line-height: 30px;
  color:#000;
  background-color: white;
  cursor: pointer;
}

@media (min-width: 912px){
  #menu li {
    background-color: #125E8C;
    height: 30px;
    width: calc(100%/4);
    border: 1px solid #FFF;
  }

  #menu li:hover {
    background-color: rgb(197, 191, 117);
    color: white;
    /* width: calc(100%/4); */
  }

}

#menu  li  a {
  color:#000;
  font-size:17px;
  text-decoration: none ;
  line-height: 30px;
  width: 100%;
}

#menu li a:hover  {
  background-color: rgb(197, 191, 117);
  color: white;
}

@media (min-width: 912px){
  #menu li a {
    /* background-color: rgb(197, 191, 117); */
    color: white;
    font-size:24px;
    /* padding: 0 10px 0; */
    width: 100%;
    /* color: #FFF; */
  }
}


form {
  margin: 0 auto 0;
  position: absolute;
  z-index:2;
  left: 50%;
  transform: translate(-50%);
}

/* button.button8{
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  -o-radius:8px;
  -ms-radius:8px;
  border-radius:8px;
  } */
  
input.textbox{
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  width:250px;
  }
TEXTAREA
  {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  min-width: 250px;
  max-width:400px;
  min-height:200px;
  max-height:300px;
  }


/* footer */

.footer_text {
  color: #111111;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  height: 100px;
  margin-top: 350px;
}
